<!doctype html>
<html>
    <head>
        <title>ques2</title>
        <script src="../angular.js"></script>
        <script src="script5.js"></script>
    </head>
    <body>
        <div ng-app="DemoApp" ng-controller="DemoCtrl">
            <form>
            &nbsp;&nbsp;&nbsp;VERIFICATION<br> <br>
            &nbsp;&nbsp;&nbsp;
            First Name : <input type="text" placeholder="Enter first name" ng-model="fname"><br>
            &nbsp;&nbsp;&nbsp;
            Last Name : <input type="text" placeholder="Enter last name" ng-model="lname"><br>
            </form>

            <h3>{{ fname }}  {{ lname }}</h3>
            </div>
    </body>
</html>